<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style/main.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Amita:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/notes.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Redressed&display=swap" rel="stylesheet">  
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <link rel="stylesheet" href="/style/upload.css">

    <link rel="stylesheet" href="/style/delete.css">
</head>

<body>